{{!--Allow editing of personal details--}}
{{!--Allow adding of new addresses--}}
{{!--View orders--}}

<div class="container">
    <div class="row ">
            <div class="col-sm-6 col-xs-12" id="user-info">
                <form class="account-form">
                    <label>First Name</label>
                    <div class="form-group first-name">
                        <input type="text" id="first-name" name="first-name" minlength="2" value="{{fname}}">
                    </div>
                    <label>Last Name</label>
                    <div class="form-group last-name">
                        <input type="text" id="last-name" name="last-name" value="{{lname}}" minlength="2" required>
                    </div>
                    <label>Email Address</label>
                    <div class="form-group email">
                        <input type="email"  id="email"name="email" 
                        value="{{email}}" minlength="5" required>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Update Info
                    </button>
                </form>
            </div>
            <div class="col-sm-6 col-xs-12" id="address-info">
                Addressy stuff
            </div>
    </div>
</div>