{{{cart}}}

<div class="container-fluid" id="cart-container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
            <h3 class="">Your Cart</h3>
            </div>
        </div>
<div class="container" id="shopping-cart">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-2">
                <p>Price</p>
            </div>
            <div class="col-lg-2">
                <p>Quantity</p>
            </div>
            <div class="col-lg-2">
                <p>Total</p>
            </div>
        </div>
    <hr />
    <div class="row" id="cart-items">
                <div class="col-lg-2" id="product-img">
                    <p><img src="http://placehold.it/50x50" alt="Product Img" /></p>
                </div>
                <div class="col-lg-2" id="item-name">
                    <p>{{this.name}}</p>
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-2" id = "price">
                    <p>{{this.price}}</p>
                </div>
                <div class="col-lg-2" id="quantos">
                    <button id="increase-button">+</button><input class="quantity" id="quantity" value="1"><button id="decrease-button">-</button>

                </div>
                <div class="col-lg-2">
                    <p>$24</p>
                </div>
        </div>
    <hr />
    </div>
    <div class="row">
        <div class="col-lg-8">
        </div>
            <div class="col-lg-2" id="subtotal">
                <p class="subtotal">
                    Subtotal: ---
                </p>
                <p>Shipping & Taxes calcualted at checkout</p>
                <button id="updatecart">Update Cart</button><button id="checkout">Check Out</button>
            </div>
    </div>
</div>
