<div id="bg">
    <div class="jumbotron">
        <div id="innertext">
          <h1>Kitchen Corner Crafts</h1>
          <p>Handmade awesomeness for you and your family</p>
          <p>Made with love and stuff.</p>
        </div>
    </div>
</div>

<!-- //Featured products go here // -->

<div id="featured" class="jumbotron">
    <h2>Featured Products</h2>
        <div id="item" class = "col-md-6">
            <img src="http://placehold.it/350x150"></div>
        <div id="item" class= "col-md-6">
            <img src="http://placehold.it/350x150"></div>
    <!-- <div class="container">
        <p>This is some text.</p>
        <p>Lol more text</p>
    </div> -->
</div>
