<div class="container-fluid" id="account-signup-container">
    <div class="signup-header">
        <div>
            <h3>Sign Up</h3>
        </div>
    </div>
    <div class="signup">
        <div>
            <form class="signup-form">
                <label>User Name</label>
                <div class="name">
                    <input type="text" id="fname" name="name" placeholder="User Name" minlength="2" required>
                </div>
                <label>Email Address</label>
                <div class="email">
                    <input type="email"  id="email"name="email" placeholder="Email" minlength="5" required>
                </div>
                <label>Password</label>
                <div class="form-group password">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <br />
                <button type="submit" class="button">Make it official</button>
            </form>
        </div>
    </div>
    <br />
     <div class="signup-page-login">
        <div>
            <form class="login">
                <div class="form-group email">
                    <input id="email-login" type="text" name="email" placeholder="email" minlength="2" required>
                </div>
                <div class="form-group password">
                    <input id="password-login" type="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="button">Log In</button>
            </form>
        </div>
    </div>
</div>
</div>
<script src="../javascript/signup.js"></script>
<script src="../javascript/login.js"></script>
